In [4]:
# repeiton not allowed
def get_subsetsum_recur(input_list, target, curr_subset= [], output =[] ):
  if sum(curr_subset)>=target or len(input_list)==0:
      if sum(curr_subset)==target and curr_subset not in output:
        output.append(curr_subset)
  else:
      get_subsetsum_recur(input_list[1:], target, curr_subset+ [input_list[0]], output)
      get_subsetsum_recur(input_list[1:], target, curr_subset, output)

  return output

input_list = [ 8, 10, 6, 11, 1, 16, 8 ]
input_list = sorted(input_list)
target = 28
get_subsetsum_recur(input_list, target, curr_subset= [], output =[] )

[[1, 6, 10, 11], [1, 8, 8, 11], [1, 11, 16]]

In [5]:
# repetion allowed
def get_subsetsum_recur(input_list, target, curr_subset= [], output =[] ):
  if sum(curr_subset)>=target or len(input_list)==0:
      if sum(curr_subset)==target and curr_subset not in output:
        output.append(curr_subset)
  else:
      get_subsetsum_recur(input_list[:], target, curr_subset+ [input_list[0]], output)
      get_subsetsum_recur(input_list[1:], target, curr_subset, output)

  return output

input_list = [ 8, 10, 6, 11, 1, 16, 8 ]
input_list = sorted(input_list)
target = 28
get_subsetsum_recur(input_list, target, curr_subset= [], output =[] )

[[1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 6],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 8],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 10],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 11],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 6, 6],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 6, 8],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 6, 10],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 8, 8],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 16],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 6, 11],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 6, 6, 6],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 8, 10],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 8, 11],
 [1, 1, 1, 1, 1, 1, 1, 1, 6, 6, 8],
 [1, 1, 1, 1, 1, 1, 1, 1, 10, 10],
 [1, 1, 1, 1, 1, 1, 1, 10, 11],
 [1, 1, 1, 1, 1, 1, 6, 6, 10],
 [1, 1, 1, 1, 1, 1, 6, 8, 8],
 [1, 1, 1, 1, 1, 1, 6, 16],
 [1, 1, 1, 1, 1, 1, 11, 11],
 [1, 1, 1, 1, 1, 6, 6, 11],
 [1, 1, 1, 1, 6, 6, 6, 6],
 [1, 1, 1, 1, 6, 8, 10],
 [1, 1, 1, 1, 8, 8, 8],
 [1, 1, 1, 1, 8, 16],
 [1, 1, 1, 6, 8, 11],
 [1, 1, 6, 6, 6, 8],
 [1, 1, 6, 10, 10],
 [1, 1, 8, 8, 10],
 [1, 1, 10, 16],
 [1, 6, 10, 11],
 [1, 8, 8, 11],
 [1, 11, 16],
 [6, 6, 6, 10],
 [6, 6, 8, 8],
 [6, 6, 16],
 [6, 11, 11],
 [8, 10, 10]]

In [ ]:
def create_subset(arr, curr_sub = [], output=[]):
  if len(arr)==0:
    output.append(curr_sub)
  else:
    create_subset(arr[1:], curr_sub+arr[0], output)
    create_subset(arr[1:], curr_sub, output)

In [1]:
sub = [0]
sub2 = []
output =[]
output.append(sub)

In [2]:
output

[[0]]

### Case Study:
You are working as a software engineer at an Ecommerce Startup and responsible for Building the customer registration and Login Portal.

Suppose while registration you will be assigning ID to each customer which can be a number between 1 to N where N is the maximum expected number of customers.

While Logging IN the customer will be using this ID and your task would be to Validate if this ID is valid.

At a Time you can get Q requests where each validation request can contain One ID. You have to return True if ID is Valid as False.

```
Exaxmple: 
ID's [1,22,30,990, 1100 ]

Q: [1100,40, 99,22]

Output: [True, False, False, True]

Q1: How many collision would occur while storing the list of Numbers [10,12, 15, 18, 10 , 7, 21,24] if following hash function is used: hash = k%7
- 1
- 2
- 5 True
- 8

```
10 % 7 = 3
12 % 7 = 5
15%7 = 1
18%7= 4
10%7 = 3
7%7= 0
21%7 = 0
24%7 = 3
```

Q: Given a dictionary of student names and marks,
Extract Top N scoring students based on marks and return their name.


```
input_dict: 
{"A":80
"B":30
"C":80
"D":40
"E":90
"F":70
"J":60
}

N = 3

```

```
output:
["E","A","C", "F"]

```

Part 1: TOP 3 Student(If someone has same marks the rank would be based on Alphabetical)

Part 2 : Same marks get same rank

In [5]:
# solution

In [ ]:
# BINARY SEARCH ON EACH ROW
list1 = [ [ 1 ,2,4,5,6 ]
       [0,5,6,7,8]
       [2,3,4,5,7]
       ]

rows*log(n)

In [ ]:
# BINARY SEARCH ON COLS TO FIND THE ROW NUMBER
list1 = [ [ 1 ,2,4,5,6 ]
           [8,44,66,70,81]
           [85,95,104,105,177],
         
         ...
       ]

SEARCHING 9
1, 8, 85... ,,,N 

LOG(COL)+LOG(ROW)

You are given an array A of size N.

denoting the prices of different models. 
The array is sorted based on prices in increasing order. 
You are given another array B of size Q denoting the queries.
In i'th query, you need to tell the maximum distinct models of mobile phones he can buy with B[i] money

In [ ]:
N = [1,2,3,4,5,88, 90 ]

B = [90, 22, 30, 50 ]

OUTOUT [2, N, N, N ]
90 RS - > [88,2] , [90], [1], [1,2] - > 2,