In [12]:
def get_subset(input_list, curr_sub = [], output_list=[]):
  if len(input_list)==0:
    output_list.append(curr_sub)
  else:


    # exclude the first element from subset
    get_subset(input_list[:-1], curr_sub, output_list )

    # included the first element into subset
    get_subset(input_list[:-1], [input_list[-1]]+ curr_sub, output_list )

  return sorted(output_list)


input_list =  sorted([ 15, 20, 12, 19, 4 ])

get_subset(input_list, curr_sub = [], output_list=[])

[[],
 [4],
 [4, 12],
 [4, 12, 15],
 [4, 12, 15, 19],
 [4, 12, 15, 19, 20],
 [4, 12, 15, 20],
 [4, 12, 19],
 [4, 12, 19, 20],
 [4, 12, 20],
 [4, 15],
 [4, 15, 19],
 [4, 15, 19, 20],
 [4, 15, 20],
 [4, 19],
 [4, 19, 20],
 [4, 20],
 [12],
 [12, 15],
 [12, 15, 19],
 [12, 15, 19, 20],
 [12, 15, 20],
 [12, 19],
 [12, 19, 20],
 [12, 20],
 [15],
 [15, 19],
 [15, 19, 20],
 [15, 20],
 [19],
 [19, 20],
 [20]]

In [23]:
def get_subset(input_list, curr_sub = [], output_list=[], B =2):
  if len(input_list)==0 or len(curr_sub)==B:
    if len(curr_sub)==B:
      output_list.append(curr_sub)
  else:

    # included the first element into subset
    get_subset(input_list[1:],  curr_sub + [input_list[0]], output_list, B )

    # exclude the first element from subset
    get_subset(input_list[1:], curr_sub, output_list, B )
    


  return (output_list)

A = 4

input_list =  list(range(1,A+1))
B = 2

get_subset(input_list, curr_sub = [], output_list=[] , B = 2)

[[1, 2], [1, 3], [1, 4], [2, 3], [2, 4], [3, 4]]

In [22]:
A = 4
list(range(1,A+1))

[1, 2, 3, 4]

```
- [[2, 3], [2], [3], []] # [1] + f(2,3), f(2,3)
- [[1,2,3, [1,2], [1,3],[1], [[2, 3], [2], [3], []]
```

In [ ]:
[1,2,3,4]


f(2,3,4)


[1 , f(2,3)]
[f(2,3)]

In [ ]:
[[], [1]]


[2], [1,2]
[1], []

In [ ]:
class Solution:
	def subsets(self, A):
	    return self.get_subset(A)
	    
	    
	def get_subset(self, input_list, curr_sub = [], output_list=[]):
        if len(input_list)==0:
            output_list.append(curr_sub)
        else:
            # included the first element into subset
            get_subset(input_list[1:], curr_sub+[input_list[0]], output_list )
        
            # exclude the first element from subset
            get_subset(input_list[1:], curr_sub, output_list )
        
        return output_list

In [ ]:
A = [2, 3, 6, 7]
B = 7


[7]
[2,2,3]

# Hint 1: Base Conditon sum(sub)==Target->Append
# Hint 2: Donot reduce the list, stop when sum(subset)>target: return None

In [ ]:
[2,2,2,2,2.............]