In [ ]:
def func(n):
  a = 10 # n^0 + c
  b = 20 # n^0 +c
  c = 40 # n^0 + c
  print(a+b+c) # n^0 + c1

func(n)

- n^0 +c + n^0 + c + n^0 + c +n^0 +c
- 3(n^0 +c) +n^0 + c1
- 4n^0+c + c1
- 4 + c + c1 --> c3
- n^0 + c3
- Independent of n: we say that this algorithm always takes constant time: O(1)

In [ ]:
def func1(n):
  for i in range(n):  # c
    print("Hello") # n

func1(4)

- TC = n+c
- O(n)
- Linear Complexity

In [ ]:
range(4)

range(0, 4)

In [ ]:
def func2(n):
  for i in range(n):  # c
    print("Hello") # n

  for i in range(n): # c
    print("Bye") # n

  

func2(4)

- TC = n+n+c+c = 2n+2c 
- Ignore the Coefficients as well as Constant Term
- O(n)

In [ ]:
def func3(n):
  for i in range(n):  # c
    for j in range(n): # n 
      print("Hello")    # n^2

- TC = n^2 + n + c
- O(n^2)

In [ ]:
def func3(n):
  for i in range(n):  # c
    for j in range(n): # n 
      print("Hello")    # n^2

  for k in range(n):  # c
    for l in range(10): # n  
      print("Bye") # 10*n

TC = c + n +n^2 + c + n +10n => n^2 + 12n + 2c

O(n^2)

In [ ]:
n = 20
for i in range(n):  # c
  j=i               # n
  while j<i:        # n
    print(j)        # 0
    j=j+1           # 0

- TC = c+ n + n = c + 2(n)
- O (n)

In [ ]:
c = 0  # c
for i in range(1, n+1):  # c
    for j in range(1, n+1): # n 
        for k in range(n//2, n+1, n//2): # n*n
            c += 1       # 2 *n*n times

- TC = c + c + n + 3n^2 + 2
- O(n^2)

In [ ]:
n = 2
for i in range(1, n+1):  # c
    for j in range(1, n+1): #n
      print(range(n//2, n+1, n//2)) #2*n*n

range(1, 3)
range(1, 3)
range(1, 3)
range(1, 3)

In [ ]:
n =  100
print(list(range(n//2, n+1, n//2)))

[50, 100]

In [ ]:
50, 101, 50

In [ ]:
1000, 
500, 10001, 500
[500,1000]

In [ ]:
def isprime(n):
  for i in range(2, int(n**0.5)+1): # c
    if n%i==0:   # n^(0.5)-2             
      return False #   0 or 1   = c            
  return True # 0 or 1 = c

- TC: n^0.5 + c + (0,c) + (0,c)
- O(n^0.5)

In [ ]:
n = 10
isprime(n)

In [ ]:
for i in range(1,n): # c
  for j in range(i): # n-1
    print("x",end=" ") # 1, 2,3,4...... n-1 => (n*(n+1)/2) - n -> n^2/2 + n/2 - n 
  print()                # n-1

- TC - >  c + n-1  + n^2/2 + n/2 - n + n-1 = > (n^2)/2 + n-2+c
- O(N^2)

In [ ]:
def fibonacci(n):
  if n <= 1: # c 
        return n # 0, 1
  return fibonacci(n-1) + fibonacci(n-2) # 2*2*2*2   ^ 2n -> 2^n

n = 9
print(fibonacci(n))

2^(n)

In [ ]:
def random_algo()
  if n <= 1: # c 
        return n # 0, 1
  return random_algo(n-1) + random_algo(n-2) + random_algo(n-3) # 3*3*3*3   ^ 3*n -> 3^n

In [ ]:
def binary_search(a, target):
    start = 0 #c 
    end = len(a)-1 #c
    
    while start <= end:  # c
        mid = (start + end)//2 
        
        print(f"Start = {start}, End = {end}, Mid = {mid}")
        print(f"List = {a[start:end+1]}")
        print("-"*50)
        
        if a[mid] == target:
            return mid
        elif a[mid] > target:
            end = mid - 1
        else:
            start = mid + 1
            
    return -1

n/2 + n/4+ n/8 ......... 1 - > (n/2)^k + c 

- n/(2^k) = 1
- n = 2^k
- log(n) = k
- k = log(n)
- Logarithmic Complexity

In [ ]:
def f(): 
  ans = 0 
  for i in range(1,n+1): c 
    for j in range(i,n+1,i): # n
      ans += 1 
      print(ans) #

In [ ]:
n = 10
i = 
range(3, 11 , 3)

n+ n/2 + n/3,,, 1 - > n

In [ ]:
def solve(N):
  for i in range(2**N): # c
    j=i 2^n
    while j>0: # 2^n
      j-=1 #2^n + 2^n + 2^n -1 +1

In [ ]:
(2^n)^2^n -> 2^(Cn)

In [ ]:
2^4^2 = 2^8

In [ ]:
i = n
while i>0: # c
  j = 1 
  while j<=n: n/2 + n/4 +  
    j = j*2   n/2+ n/4+  .....
  i = i//2

In [ ]:
TC= 10^(3n+1) = O(n)
TC= nlog2n = nLog(n) 
TC = n√n  = g

In [ ]:
# BINARY SEARCH ON EACH ROW
list1 = [ [ 1 ,2,4,5,6 ]
       [0,5,6,7,8]
       [2,3,4,5,7]
       ]

rows*log(n)

In [ ]:
# BINARY SEARCH ON COLS TO FIND THE ROW NUMBER
list1 = [ [ 1 ,2,4,5,6 ]
           [8,44,66,70,81]
           [85,95,104,105,177],
         
         ...
       ]

SEARCHIN 9
1, 8, 85... ,,,N 

LOG(COL)+LOG(ROW)

You are given an array A of size N.

denoting the prices of different models. 
The array is sorted based on prices in increasing order. 
You are given another array B of size Q denoting the queries.
In i'th query, you need to tell the maximum distinct models of mobile phones he can buy with B[i] money

In [ ]:
N = [1,2,3,4,5,88, 90 ]

B = [90, 22, 30, 50 ]

OUTOUT [2, N, N, N ]
90 RS - > [88,2] , [90], [1], [1,2] - > 2,